<a href="https://colab.research.google.com/github/eji58/IT-Salary-Survey-Analysis/blob/main/Explore.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Librares Imports
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
%load_ext google.colab.data_table

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/IT Salary Survey EU/IT_Salary_Survey_Cleaning.csv')
df.head(3)

# Explore Features¶

# 1-Singel Features¶

In [ ]:
def counter(df,column):
  """

  """
  data = pd.Series(df[column].value_counts())
  df=pd.DataFrame(data.items(), columns=[column, 'Counts'])
  return df.sort_values(by='Counts', axis=0, ascending=False)

In [ ]:
def  distributions(df,column,limit):
  """

  """
  value_counts= df[column].value_counts()
  if (len(value_counts) <= limit):
      sns.countplot(x=column,data=df,palette='twilight')
      plt.title(column+" counter",fontsize=20)
  else:
      value_columns=list(counter(df,column)[0:limit][column])
      df1=df[df[column].isin(value_columns)]
      sns.countplot(x=column,data=df1,palette='twilight')
      plt.title(column + ' - Top '+ str(limit)+ ' only',fontsize=20)

  plt.xticks(rotation=70,fontsize=13)
  plt.xlabel(column,fontsize=30) # x axis 
  plt.ylabel('Counts',fontsize=30) # y axis  
  plt.grid()
  plt.show()
  plt.savefig("/content/drive/MyDrive/Colab Notebooks/IT Salary Survey EU/"+column+".png", dpi=800)

In [ ]:
df.columns.to_list()

In [ ]:
plt.figure(figsize=(35,10))
distributions(df,'Age',50)

In [ ]:
plt.figure(figsize=(5,5))
distributions(df,'Gender',4)

In [ ]:
plt.figure(figsize=(20,5))
distributions(df,'Position',15)

In [ ]:
plt.figure(figsize=(35,5))
df['Years of experience']=df['Years of experience'].apply(np.ceil)
distributions(df,'Years of experience',45)

In [ ]:
plt.figure(figsize=(5,5))
df1=df[~df['Covid job loss'].isin(['MISSING'])]
distributions(df1,'Covid job loss',3)

In [ ]:
plt.figure(figsize=(5,5))
distributions(df,'Working language',5)

In [ ]:
plt.figure(figsize=(5,5))
distributions(df,'Company size',5)

In [ ]:
plt.figure(figsize=(10,5))
distributions(df,'Сontract duration',8)

In [ ]:
plt.figure(figsize=(15,5))
df1=df[~df['Employment status'].isin(['MISSING'])]
distributions(df1,'Employment status' ,10)

In [ ]:
plt.figure(figsize=(15,5))
distributions(df,'Company type',6)

In [ ]:
plt.figure(figsize=(35,5))
df1=df[~df['Covid WFH allowance'].isin([0])]
distributions(df1,'Covid WFH allowance',10)

In [ ]:
Age_conter= counter(df,'Age')
Age_conter.describe()

In [ ]:
# make filter for the Age
#20-30,31-40,41-50.50-60,>60
df1=pd.DataFrame(data={'range': ['20-30','31-40','41-50','50-60','60<'], 
      'count': [Age_conter.query("20 <= Age <= 30 ")['Counts'].sum(),
                  Age_conter.query("31 <= Age <= 40 ")['Counts'].sum(),
                  Age_conter.query("41 <= Age <= 50 ")['Counts'].sum(),
                  Age_conter.query("51 <= Age <= 60 ")['Counts'].sum(),
                  Age_conter.query("61 <= Age")['Counts'].sum()
                  ]})
df1

In [ ]:
Company_type_conter= counter(df,'Company type')
Company_type_conter=Company_type_conter.sort_values(by='Counts', axis=0, ascending=False)
Company_type_conter[Company_type_conter['Counts']>=3]

# 2-multiply Features

In [ ]:
df.columns.to_list()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x='Year',data=df[df['Gender'].isin(['FEMALE','MALE'])],hue='Gender',palette='twilight')
plt.xlabel('Year',fontsize=20) # x axis 
plt.ylabel('Counts',fontsize=20) # y axis  
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
column='Position'
value_columns=list(counter(df,column)[0:15][column])
df1=df[df[column].isin(value_columns)]
sns.countplot(x=column,data=df1[df1['Gender'].isin(['FEMALE','MALE'])],hue='Gender',palette='twilight')
plt.title(column + ' - Top '+ str(15)+ ' only')
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column,fontsize=20) # x axis 
plt.ylabel('Counts',fontsize=20) # y axis    
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
column1= 'Position'
column2='Current Salary'
value_columns=list(counter(df,column1)[0:15][column1])
df1=df[df[column1].isin(value_columns)]
sns.boxplot(x=column1,y=column2,data=df1, palette='twilight')
plt.title('Current Salary based on the position')
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column1,fontsize=20) # x axis 
plt.ylabel(column2,fontsize=20) # y axis    
plt.grid()
plt.show()

In [ ]:
df['Your level'].unique()

In [ ]:
plt.figure(figsize=(10,5))
column1='Years of experience'
column2='Your level'
value_columns=list(counter(df,column1)[0:15][column1])
df1=df[df[column1].isin(value_columns)]
sns.boxplot(x=column1,y=column2,data=df1[df1[column2].isin(['SENIOR', 'MIDDLE', 'JUNIOR'])], palette='twilight')
plt.title('Your level based on years of experience')
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column1,fontsize=20) # x axis 
plt.ylabel(column2,fontsize=20) # y axis    
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(15,5))
column1='Years of experience'
column2='Current Salary'
value_columns=list(counter(df,column1)[0:15][column1])
df1=df[df[column1].isin(value_columns)]
sns.barplot(x=column1,y=column2,data=df1, palette='twilight')
plt.title('Current Salary based on years of experience')
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column1,fontsize=20) # x axis 
plt.ylabel(column2,fontsize=20) # y axis    
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(10,5))
sns.countplot(x='Year',data=df[df['Covid job loss'].isin(['YES','NO'])],hue='Covid job loss',palette='twilight')
plt.xlabel('Year',fontsize=20) # x axis 
plt.ylabel('Counts',fontsize=20) # y axis  
plt.grid()
plt.show()

#3-Text Featuers

In [ ]:
text_select = df['Technical Language'][df['Technical Language'] != 'MISSING']
text = " ".join(txt for txt in text_select)

stopwords = set(STOPWORDS)

wordcloud = WordCloud(stopwords=stopwords, max_font_size=100, max_words=500,
                      width = 800, height = 600).generate(text)

plt.figure(figsize=(20,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
text_select = df['Other technical skills'][df['Other technical skills'] != 'MISSING']
text = " ".join(txt for txt in text_select)

stopwords = set(STOPWORDS)
wordcloud = WordCloud(stopwords=stopwords, max_font_size=100, max_words=500,
                      width = 800, height = 600,).generate(text)

plt.figure(figsize=(20,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
text_select = df['Company type'][df['Company type'] != 'MISSING']
text = " ".join(txt for txt in text_select)

stopwords = set(STOPWORDS)

wordcloud = WordCloud(stopwords=stopwords, max_font_size=100, max_words=500,
                      width = 800, height = 600,).generate(text)

plt.figure(figsize=(20,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

In [ ]:
text_select = df['Position'][df['Position'] != 'MISSING']
text = " ".join(txt for txt in text_select)

stopwords = set(STOPWORDS)

wordcloud = WordCloud(stopwords=stopwords, max_font_size=100, max_words=500,
                      width = 800, height = 600,).generate(text)

plt.figure(figsize=(20,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.show()

# 4-highest salary for which major

In [ ]:
plt.figure(figsize=(15,5))
column1='Position'
column2='Current Salary'
value_columns=list(counter(df,column1)[0:15][column1])
df1=df[df[column1].isin(value_columns)]
sns.barplot(x=column1,y=column2,data=df1,hue='Year' ,palette='twilight')
plt.title('Current Salary based on position')
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column1,fontsize=20) # x axis 
plt.ylabel(column2,fontsize=20) # y axis    
plt.grid()
plt.show()

In [ ]:
plt.figure(figsize=(35,5))
column1='Technical Language'
value_columns=list(counter(df,column1)[0:11][column1])
df1=df[df[column1].isin(value_columns)]
df1=df1[~df1[column1].isin(['MISSING'])]

sns.countplot(x=column1,data=df1,hue='Year' ,palette='twilight')
plt.title('The most  programming language used',fontsize=20)
plt.xticks(rotation=70,fontsize=13)
plt.xlabel(column1,fontsize=20) # x axis 
plt.ylabel('conter',fontsize=20) # y axis    
plt.grid()
plt.show()